<!DOCTYPE html>
<html lang="en">
<head>
    <title>Predict</title>
</head>
<body>
    <div>
        <h1 style="background-color:LightGray;">
            <center>Sentiment Classification</center>
        </h1>
    </div>
    <div>
        <fieldset>
            <h2><center>Output Prediction</Input></center></h2> 
            <h3>
                <center>predicted_sentiment: 
                    <span style="font-weight:bold;color:blue"> {{predicted_sentiment}}</span>
                </center>
                <center>sentiment_probability: 
                    <span style="font-weight:bold;color:blue"> {{sentiment_probability}}</span>
                </center>
            </h3>
            <form action="/" method="get">
                <center><button type="submit">Home</button></center>
            </form>
        </fieldset>
    </div>
</body>
</html>